In [1]:
order='Pizza Cheeseburger Water Popcorn'

In [2]:
#foods_order=list(str(food_order).split(" "))

In [3]:
foods=['Nachos','Pizza','Cheeseburger','Water','Coke']

In [4]:
foods_price=[6,6,10,4,5]

In [5]:
menu=dict(zip(foods,foods_price))

In [6]:
menu

{'Nachos': 6, 'Pizza': 6, 'Cheeseburger': 10, 'Water': 4, 'Coke': 5}

In [7]:
menu['Nachos']

6

In [8]:
def process_order(order):
    total=0
    tax=1.07
    food_order=str(order).split(" ")
    for item in food_order:
        if item not in menu:
            #print("{} Not in menu".format(item))
            total+=menu['Coke']
        elif item in menu:
            #print("{} in menu".format(item))
            total+=menu[item]
        else:
            print("Something went wrong!! Sorry Buda")
    #print("The totals are: {}".format(total))
    total*=tax
    #print("The totals (tax inclusive) is: {}".format(total))
    return total

In [9]:
process_order(order)

26.75

In [10]:
menu = {'Nachos': 6, 'Pizza': 6, 'Cheeseburger': 10, 'Water': 4, 'Coke': 5}
tax = 1.07

items = input().split()
total_cost = 0

for item in items:
    if item not in menu:
        total_cost += menu['Coke']
    else:
        total_cost += menu[item]

total_cost *= tax

print('%.2f' % total_cost)

Pizza Cheeseburger Water Popcorn
26.75